* {
  font-family: Nunito Sans, Helvetica, sans-serif;
}

body {
  background: #eee;
  color: #333;
  font-size: 1.1rem;

  max-width: 1000px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 200px 1fr;
}

header {
  padding: 2rem;
  text-align: center;

  img {
    width: 100%;
    border-radius: 50%;
  }

  nav {
    margin-top: 1em;

    a {
      display: block;
      padding: 0.5em;

      &:hover {
        background-color: #ddd;
      }
    }

    input[type='search'] {
      font-size: 1.1em;
      margin-top: 1em;
      width: 100%;
    }
  }
}

main {
  border-left: 1px solid #ddd;
  padding: 1rem;
}

footer {
  grid-column: 2 / 2;
  margin: 1rem 0;
  opacity: 0.6;

  &,
  * {
    font-size: 0.8rem;
  }

  &:hover {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #1a90be;
}

h1, h2, h3 {
  color: #444;
}

hr {
  width: 90%;
  opacity: 0.8;
  border: 1px solid #c2c2c2;
}

#results {
  .result {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
}

// mobile
@media screen and (max-width: 600px) {
  body {
    margin: 0 1rem;
    grid-template-columns: 1fr;
  }
  header, main, footer {
    grid-column: auto;
  }
  header {
    padding: 0.5rem;
    font-size: 0.8em;
    img {
      width: 25%;
    }
    nav {
      margin-top: 0;
      a {
        font-weight: bold;
      }
      input[type='search'] {
        margin-top: 0.2em;
        width: 25%;
      }
    }
  }
  main {
    border-left-width: 0;
    padding: 0;
  }
}

// dark mode
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #eee;
  }
  header {
    nav {
      a:hover {
        background-color: #222;
      }
      input[type='search'] {
        border: 1px solid #999;
        background-color: #444;
        color: #eee;
      }
    }
  }
  main {
    border-left: 1px solid #666;
  }
  h1, h2, h3 {
    color: #ddd;
  }
  a {
    color: #32b4e7;
  }
  hr {
    border: 1px solid #666;
  }
  #results .result {
    border: 1px solid #666;
  }
}

