<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ section.title }}{% endblock title %} - Kanjon's Wiki</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,500;1,6..12,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>
  <header>
    <img src="{{ get_url(path="icon.png") }}" alt="logo" />
    <nav>
      <a href="/">wiki home</a>
      <a href="https://kanjon.art">kanjon.art</a>
      <form action="/search" method="get">
        {% block searchbox %}
        <input type="search" name="q" placeholder="search" />
        {% endblock %}
      </form>
    </nav>
  </header>
  <main>
    {% block content %}
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
    {% endblock content %}
  </main>
  <footer>
    {% block footer %}
    Copyright &copy; Mt Kanjon and contributors.
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
      CC BY-NC-SA
    </a>
    {% endblock footer %} 
  </footer>
</body>
</html>
