{% extends "page.html" %}

{% block content %}

<iframe style="width: 100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/{{ page.extra.youtube_id }}" title="{{ page.title }} - Kanjon&#39;s Clips" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{{ super() }}

{% set vrchat_avatar = config.extra.avatars | filter(attribute="desc", value=page.extra.vrchat_avatar) | first %}
<table class="video-info">
  <tr>
    <th colspan="2">Production Info</th>
  </tr>
  <tr>
    <td>Music</td>
    <td>{% if page.extra.music is starting_with("https://") %}<a href="{{ page.extra.music }}">{{ page.extra.music }}</a>{% else %}{{ page.extra.music }}{% endif %}</td>
  </tr>
  <tr>
    <td>VRChat World</td>
    <td><a href="{{ page.extra.vrchat_url }}">{{ page.extra.vrchat_world }}</a></td>
  </tr>
  <tr>
    <td>VRChat Avatar</td>
    <td><a href="{{ vrchat_avatar.url }}">{{ vrchat_avatar.desc }}</a></td>
  </tr>
</table>

{% endblock %}
